<template id='navTemplate'>
    <div class='stickyTop blockInLine'>
        <a
            id='navMain'
            class='noDecoration smallSpace blockCenter blockInLine textWhite'
            href='index.html'
        >
            Main
        </a>
        <a
            id='navProjects'
            class='noDecoration smallSpace blockCenter blockInLine textWhite'
            href='#'
        >
            <span class='smallSpace blockCenter blockInLine textWhite'>Projects</span>
        </a>
        <a
            id='navTechStack'
            class='noDecoration smallSpace blockCenter blockInLine textWhite'
            href='#techStack'
        >
            Technology Stack
        </a>

        <a
            id='navLibrary'
            class='noDecoration smallSpace blockCenter blockInLine textWhite'
            href='#'
        >
            Personal Library
        </a>

        <a
            id='navEmailMe '
            class='smallSpace blockCenter blockInLine textWhite'
            href='#'
        >Contact Me</a>
    </div>
</template>