<form id='emailMeForm'>
    <h2>Contact Me</h2>
    <div class='form-block'>
        <label class='label-title' for='email'>Email</label>
        <input
            id='email'
            type='email'
            class='line-input required'
            maxlength='200'
            placeholder='example@exmp.com'
            required
            size='20'
        >
    </div>

    <div class='form-block'>
        <label class='label-title' for='pictureUrl'>Picture url</label>
        <input
            id='pictureUrl'
            type='url'
            class='line-input'
            maxlength='200'
            pattern='https://.*'
            placeholder='https://example.com'
            size='20'
        >
    </div>

    <div class='form-block'>
        <span class='label-title'>Sex *</span>
        <span class='box'>
            <input
                id='male'
                type='radio'
                class='required'
                name='sex'
                required
                value='male'
            >
            <label for='male'>male</label>
        </span>
        <span class='box'>
            <input
                id='female'
                type='radio'
                name='sex'
                required
                value='female'
            >
            <label for='female'>female</label>
        </span>
    </div>

    <div class='form-block'>
        <span class='label-title'>Status</span>
        <span class='box'>
            <input
                id='selectionist'
                type='radio'
                name='level'
                value='selectionist'
            >
            <label for='selectionist'>selectionist</label>
        </span>
        <span class='box'>
            <input
                id='colectionist'
                type='radio'
                name='level'
                value='colectionist'
            >
            <label for='colectionist'>colectionist</label>
        </span>
        <span class='box'>
            <input
                id='fan'
                type='radio'
                checked
                name='level'
                value='fan'
            >
            <label for='fan'>fan</label>
        </span>
    </div>


    <div class='form-block'>
        <div class='label-title'>Your strog sides</div>
        <span class='box'>
            <input
                id='grow'
                type='checkbox'
                name='grow'
            >
            <label for='grow'>Growing</label>
        </span>
        <span class='box'>
            <input
                id='plant'
                type='checkbox'
                name='plant'
            >
            <label for='plant'>Planting</label>
        </span>
        <span class='box'>
            <input
                id='engaged'
                type='checkbox'
                name='engaged'
            >
            <label for='engaged'>Minimum 10 years of experience</label>
        </span>
    </div>

    <div class='form-block'>
        <label class='label-title' for='testimonial'>Leave your testimonial *</label>
        <textarea
            id='testimonial'
            class='line-input required'
            name='testimonial'
            placeholder='Lorem ispun and so long...'
            required
            rows='5'
        ></textarea>
    </div>


    <div class='form-block'>
        <button
            id='reset'
            type='reset'
            class='button'
            value='reset'
        >Reset</button>
        <button
            id='submit'
            type='submit'
            class='button'
            value='submit'
        >Submit</button>
    </div>
</form>