<div class='stickyTop blockInLine'>
    <a class='noDecoration' href='../projects.html'>
        <span class='smallSpace blockCenter blockInLine textWhite'>Projects</span>
    </a>
    <a class='noDecoration' href='../projects.html'>
        <span class='smallSpace blockCenter blockInLine textWhite'>Technology Stack</span>
    </a>

    <a class='noDecoration' href='../projects.html'>
        <span class='smallSpace blockCenter blockInLine textWhite'>Personal Library</span>
    </a>

    <a class='noDecoration' href='../projects.html'>
        <span class='smallSpace blockCenter blockInLine textWhite'>Contact Me</span>
    </a>

</div>