/* POSITIONS */
.spaceZero {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.marginZero {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.marginSmall {
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.smallSpace {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.mediumSpace {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.blockInLine {
    display: inline-block;
}

.stickyTop {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #171717;
}

.blockCenter {
    margin: auto;
    justify-content: center;
}
.centerDiv {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    background-color: lightgray;
}



.widthAll {
    width: 100%;
}
.width80 {
    width: 80%;
}

.circleAround {
    border-radius: 50%;
    background: #a6b5ca;
}
/* TEXT POSITION */

.textCenter {
    text-align: center;
}
.textLeft {
    text-align: left;
}

/* FONTS */

.fontSmall {
    font-size: 20px;
}
.fontMedium {
    font-size: 30px;
}
.fontLarge {
    font-size: 40px;
}
.fontExtraLarge {
    font-size: 60px;
}
.centerImage {
    display: block;
    margin: auto;
}

/* COLORS */
.textRed {
    color: #7f1515;
}
.textWhite {
    color: white;
}
.textBlack {
    color: #171717;
}

.darkBackground {
    background-color: #171717;
}

.whiteBackground {
    background-color: white;
}

.noDecoration {
    text-decoration: none;

}

.form-block{
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    overflow: auto;

}

@media screen and (max-width:768px) {
    .label-title{
        float: none;
        text-align: center;
        width: 100%;
        padding: 2px;
        display: block;
    }
    .form-block{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .line-input{
        width: 98%;
    }
    .box{
        display: block;
    }
}













