/* POSITIONS */
.spaceZero {
    margin: 0;
    padding: 0;
}

.blockInLine {
    display: inline-block;
}

.stickyTop {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #171717;
}

.blockCenter {
    margin: auto;
    justify-content: center;
}
.centerDiv {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    background-color: lightgray;
}

#content {
    visibility: hidden;

    width: 80%;
    height: 100%;
    margin: 0 auto;
}
@media (max-width: 600px) {
    #content {
        width: 95%;
    }
}
.widthAll {
    width: 100%;
}
.width80 {
    width: 80%;
}

.circleAround {
    border-radius: 50%;
    background: #a6b5ca;
}

/* FONTS */

html {
    font-size: 22px; /* default is usually 16px */
    font-family: 'Inconsolata', monospace;
}

.fontSmall {
    font-size: 0.8rem;
}
.fontMedium {
    font-size: 1rem;
}

.fontBig {
    font-size: 1.2rem;
}

.fontLarge {
    font-size: 2rem;
}
.fontExtraLarge {
    font-size: 3rem;
}
.centerImage {
    display: block;
    margin: auto;
}

@media (max-width: 600px) {
    html {
        font-size: 21px; /* slightly larger for phones */
    }
    .fontLarge {
        font-size: 1.2rem;
    }
    .fontExtraLarge {
        font-size: 1.5rem;
    }
}


/* COLORS */
.textRed {
    color: #7f1515;
}
.textWhite {
    color: white;
}
.textBlack {
    color: #171717;
}

.darkBackground {
    background-color: #171717;
}

.whiteBackground {
    background-color: white;
}

.noDecoration {
    text-decoration: none;

}

/* FORM */

.form-block{
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    overflow: auto;

}

@media screen and (max-width:768px) {
    .label-title{
        float: none;
        text-align: center;
        width: 100%;
        padding: 2px;
        display: block;
    }
    .form-block{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .line-input{
        width: 98%;
    }
    .box{
        display: block;
    }
}

/* NAVIGATION BAR */

#navLogo {
    text-decoration: none;
}

.navBar {
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #222;
    padding: 0px 12px;
}

.navLeft {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}


.navRight {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    align-items: center;
    height: 100%;
}

.navRight li {
    height: 100%;
}

.navRight a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}


.navRight a:hover {
    background-color: #111111;
}

.navToggle {
    display: none;
    font-size: 1.6rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 700px) {
    .navToggle {
        display: block;
    }

    .navRight {
        position: absolute;
        top: 100%;
        right: 0;
        background: #222;

        flex-direction: column;
        width: 200px;
        height: auto;
        display: none;
        padding: 0;
        margin: 0;

    }

    .navRight li,
    .navRight a {
        width: 100%;
        height: auto;
    }

    .navRight a {
        padding: 10px
    }

    .navRight.open {
        display: flex;
    }
}

/* LIBRARY */

#bookIcons {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 0;
    gap: 1rem
}

.libraryItem {
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 12px;
    border: 3px solid #111111;
    overflow: visible;
    padding: 5px
}

@media (max-width: 1300px) {
    #bookIcons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    #bookIcons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    #bookIcons {
        grid-template-columns: 1fr;
    }
}

.bookImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bookImageBlock {
    padding-top: 10px;
    height: 330px;
    overflow: visible;
}

.bookInfo {
    padding: 0px 5px;
    position: relative;
    height: 188px;
}

.author {
    text-align: right;
}

.bookToggle {
    position: absolute;
    bottom: 10px;          /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    background: #8f8f8f;
    width: 24px;
    height: 24px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.bookExtra {
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    background: #ffffff;
    padding: 16px;
    display: none;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.libraryItem.open .bookExtra {
    display: block;
}

.bookExtra {
    animation: slideDown 0.2s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.libraryItem img {
    transform: scale(1);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.libraryItem img:hover {
    transform: scale(1.1);
}

#lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000D9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#lightboxOverlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    cursor: pointer;
}

/* MAIN */

.hero {
    margin-bottom: 32px;
}

.name {
    margin: 0;
}

.role {
    font-weight: 400;
    margin: 8px 0;
    color: #bdbdbd;
}

.location {
    color: #8f8f8f;
}

section {
    margin-bottom: 32px;
}

h3 {
    margin-bottom: 12px;
}

.about p,
.domains p {
    line-height: 1.6;
}

.sideBySide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.sideBySide section {
    flex: 1 1 45%;
    min-width: 280px;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
}

.sectionContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers heading + list container */

    border: 2px solid #8f8f8f;
    border-radius: 12px;

    max-width: 90%;    /* optional: prevent overflow on tiny screens */
    box-sizing: border-box; /* include padding in width */
    margin: 0 auto;    /* center horizontally */
}


/* FOOTER */

.footer {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.footerLink {
    background: #8f8f8f;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 20px;

    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.footerLink:hover {
    background: #504e4e;
}

.footerLink:active {
    background: #302f2f;
}

.footerLink span {
    margin-left: 10px;
}

/* EMAIL ME */

#emailOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: auto;
}

#emailMeForm {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

#emailMeForm input,
#emailMeForm textarea,
#emailMeForm button {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#emailMeForm button {
    background: #50b613;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* TECH STACK */

#techIcons {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 0;
    width: 100%;
}

.skillCard {
    transform: scale(1);
    transition: transform 0.5s ease;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 10px;
}

.skillCard:hover {
    transform: scale(1.1);
}

.skillCard:active {
    transform: scale(1.1);
}


.skillName {
    font-weight: bold;
}

.skillContext {
    text-align: left;
    margin-top: 6px;
}

@media (max-width: 1200px) {
    #techIcons {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    #techIcons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    #techIcons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    #techIcons {
        grid-template-columns: 1fr;
    }
}

#technologyProficiency {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.borderBasic {
    border: 3px solid #dd9613;
    border-radius: 12px;
}

.borderAdvanced {
    border: 3px solid #1772da;
    border-radius: 12px;
}

.borderExpert {
    border: 3px solid #50b613;
    border-radius: 12px;
}

.technologyProficiencyText {
    padding: 5px;
}

/* COMMON */

.categoryButton {
    background: #8f8f8f;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 20px;

    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;

    font-size: 0.8rem;
    color: #fff;
}

.categoryButton:hover {
    background: #504e4e;
}

.categoryButton:active {
    background: #302f2f;
}

.activeCategory {
    background: #50b613; /* or any highlight color you want */
    color: #fff;         /* optional for contrast */
}

/* PROJECTS */

.projectsLayout {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}

/* LEFT SIDE */
.projectsList {
    width: 300px;
    background: #f5f5f5;
    border-right: 1px solid #ddd;
    transition: transform 0.3s ease;
    max-height: 750px;
    overflow-y: auto;
}

.projectItem {
    display: flex;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
    align-items: center;
}

.projectItem:hover {
    background: #b8b7b7;
}

.projectItem.active {
    background: #50b613;
    font-weight: bold;
}

.projectLogo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.projectMeta {
    display: flex;
    flex-direction: column;
}

.projectsToggle {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left top;
    letter-spacing: 2px;

    background: #111;
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    z-index: 30;
    font-weight: bold;

    transition: transform 0.3s ease, left 0.3s ease;
}

.projectsLayout.showProjects .projectDetails {
    opacity: 0.4;
    pointer-events: none;
}

.projectsLayout.showProjects .projectsToggle {
    left: 310px;
}

@media (max-width: 1000px) {
    .projectsList {
        position: fixed;
        top: 15%;
        left: 0;
        height: 100%;
        transform: translateX(-200%);
        z-index: 10;
        box-shadow: 4px 0 12px rgba(0,0,0,0.2);
    }

    .projectsLayout {
        flex-direction: column;
    }

    .projectsLayout.showProjects .projectsList {
        transform: translateX(0%);
    }

    .projectsToggle {
        display: block;
    }

    .projectsLayout.showProjects .projectsToggle {
        left: 300px;
    }

}

@media (max-width: 600px) {
    .projectsLayout.showProjects .projectsList {
        transform: translateX(-3%);
    }

    .projectsLayout.showProjects .projectsToggle {
        left: 290px;
    }
}

@media (min-width: 1001px) {
    .projectsToggle {
        display: none;
    }

    .projectsList {
        position: static;
        transform: none;
    }
}

.projectName {
    font-weight: 550;
}

.projectCategory {
    margin-top: 5px;
    margin-left: 30px;
}

/* PROJECT DETAILS */
.projectDetails {
    flex: 1;
    padding-left: 20px;
}

.projectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.projectTitle h2 {
    margin: 0;
}

.projectLink {
    font-size: 0.9rem;
    color: #1772da;
    text-decoration: none;
}

.projectLink:hover {
    text-decoration: underline;
}

.logoIcon {
    width: 200px;      /* fixed visual space */
    height: 100px;
    display: flex;
    justify-content: right;
}

.logoIcon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;   /* KEY */
}

.projectInfo p {
    margin: 4px 0;
}

.techBadges p {
    display: inline-block;
    background: #eee;
    padding: 4px 10px;
    border-radius: 12px;
}

@media (max-width: 600px) {
    .projectHeader {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projectHeader .logoIcon {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .projectHeader img {
        max-width: 140px;   /* handles vertical & horizontal logos */
        height: auto;
        object-fit: contain;
    }
}

/* TECH BADGES */

.techBadges {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 12px;
}

.techBadge {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.techBadge img {
    object-fit: contain;
    margin-bottom: 6px;
}

/* SLIDESHOW */

.slideshow {
    margin-top: 32px;
}

.slideshowContainer {
    position: relative;
    background: #504e4e;
    padding: 10px 0px;
}

.slide {
    display: none;
}

.slide img {
    max-width: 100%;
    max-height: 700px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #00000099;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
}

.next { right: 0; }

.thumbnails {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    justify-content: center;
}

.thumb {
    width: 80px;
    opacity: .6;
    cursor: pointer;
}

.thumb.active,
.thumb:hover {
    opacity: 1;
}

.captionRow {
    text-align: center;
    padding: 20px 0px;
    background: #302f2f;
    color: #fff;

}

.caption {
    margin-left: 20px;
}
@media (max-width: 600px) {
    .thumb {
        width: 60px;

    }
}