/* POSITIONS */
.spaceZero {
    margin: 0;
    padding: 0;
}

.blockInLine {
    display: inline-block;
}

.stickyTop {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #171717;
}

.blockCenter {
    margin: auto;
    justify-content: center;
}
.centerDiv {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    background-color: lightgray;
}

#content {
    visibility: hidden;

    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
}
@media (max-width: 600px) {
    #content {
        width: 95%;
    }
}
.widthAll {
    width: 100%;
}
.width80 {
    width: 80%;
}

.circleAround {
    border-radius: 50%;
    background: #a6b5ca;
}

/* FONTS */

html {
    font-size: 20px; /* default is usually 16px */
}

.fontSmall {
    font-size: 0.8rem;
}
.fontMedium {
    font-size: 1rem;
}
.fontLarge {
    font-size: 2rem;
}
.fontExtraLarge {
    font-size: 3rem;
}
.centerImage {
    display: block;
    margin: auto;
}

@media (max-width: 600px) {
    html {
        font-size: 21px; /* slightly larger for phones */
    }
    .fontLarge {
        font-size: 1.2rem;
    }
    .fontExtraLarge {
        font-size: 1.5rem;
    }
}


/* COLORS */
.textRed {
    color: #7f1515;
}
.textWhite {
    color: white;
}
.textBlack {
    color: #171717;
}

.darkBackground {
    background-color: #171717;
}

.whiteBackground {
    background-color: white;
}

.noDecoration {
    text-decoration: none;

}

/* FORM */

.form-block{
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    overflow: auto;

}

@media screen and (max-width:768px) {
    .label-title{
        float: none;
        text-align: center;
        width: 100%;
        padding: 2px;
        display: block;
    }
    .form-block{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .line-input{
        width: 98%;
    }
    .box{
        display: block;
    }
}

/* NAVIGATION BAR */

#navLogo {
    text-decoration: none;
}

.navBar {
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #222;
    padding: 0px 12px;
}

.navLeft {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}


.navRight {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    align-items: center;
    height: 100%;
}

.navRight li {
    height: 100%;
}

.navRight a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}


.navRight a:hover {
    background-color: #111111;
}

.navToggle {
    display: none;
    font-size: 1.6rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 700px) {
    .navToggle {
        display: block;
    }

    .navRight {
        position: absolute;
        top: 100%;
        right: 0;
        background: #222;

        flex-direction: column;
        width: 200px;
        height: auto;
        display: none;
        padding: 0;
        margin: 0;

    }

    .navRight li,
    .navRight a {
        width: 100%;
        height: auto;
    }

    .navRight a {
        padding: 10px
    }

    .navRight.open {
        display: flex;
    }
}

/* LIBRARY */

.bookCategoryButton {
    background: #8f8f8f;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 20px;

    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.bookActiveCategory {
    background: #4caf50; /* or any highlight color you want */
    color: #fff;         /* optional for contrast */
}


#bookIcons {
    margin: 20px 0px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

.libraryItem {
    justify-content: flex-start;
    position: relative;
    width: calc(25% - 20px);
    background-color: #f1f1d3;
    border-radius: 12px;
    overflow: visible;
}

.bookImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bookImageBlock {
    height: 330px;
    background-color: #f1f1f1;
    overflow: visible;
}

.bookInfo {
    padding: 0px 5px;
    position: relative;
    background: #f1f1d3;
    height: 170px;
}

.author {
    text-align: right;
}

.bookToggle {
    position: absolute;
    bottom: 10px;          /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    background: #4caf50;
    width: 24px;
    height: 24px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.bookExtra {
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    background: #ffffff;
    padding: 16px;
    display: none;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.libraryItem.open .bookExtra {
    display: block;
}

.bookExtra {
    animation: slideDown 0.2s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1300px) {
    .libraryItem {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .libraryItem  {
        width: calc(100% - 20px);
    }
}


.libraryItem img {
    transform: scale(1);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.libraryItem img:hover {
    transform: scale(1.1);
}

#lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000D9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#lightboxOverlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    cursor: pointer;
}

/* MAIN */

.hero {
    margin-bottom: 32px;
}

.name {
    margin: 0;
}

.role {
    font-weight: 400;
    margin: 8px 0;
    color: #bdbdbd;
}

.location {
    color: #8f8f8f;
}

section {
    margin-bottom: 32px;
}

h3 {
    margin-bottom: 12px;
}

.about p,
.domains p {
    line-height: 1.6;
}

.sideBySide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.sideBySide section {
    flex: 1 1 45%;
    min-width: 280px;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
}

.sectionContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers heading + list container */

    border: 2px solid #8f8f8f;
    border-radius: 12px;

    max-width: 90%;    /* optional: prevent overflow on tiny screens */
    box-sizing: border-box; /* include padding in width */
    margin: 0 auto;    /* center horizontally */
}


/* FOOTER */

.footer {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.footerLink {
    background: #8f8f8f;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 20px;

    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.footerLink:hover {
    background: #504e4e;
}

.footerLink span {
    margin-left: 10px;
}